# Dependencies
node_modules/
.pnp
.pnp.js

temp/
public/
# Next.js build output
landing-page/.next/
landing-page/out/
client/.next/
client/out/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example
backend/.env.example
# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#desgin files
system_design.excalidraw
# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
venv/
.venv/
