.navbarWrapper {
  position: fixed;
  top: 24px;
  right: 2rem;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right {
  display: flex;
  align-items: center;
}
